.product-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
}

.product-media-info {
  color: var(--clr-black);
  max-width: 100%;
}

.product-img {
  width: min(100%, 25rem);
  margin: auto;
  display: block;
}

.product-video {
  max-width: 400px;
  height: 250px;
}

.product-detail-list {
  padding: 1rem;
}

.product-detail-list li {
  text-align: center;
}

.additional-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-heading {
  font-weight: 500;
  margin-right: 0.5rem;
}

@media screen and (min-width: 1025px) {
  .product-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 350px 1fr;
    padding: 2rem;
    align-items: start;
    gap: 3rem;
    color: var(--clr-text-neutral);
    background-image: var(--clr-linear-gradient);
    background-size: 100% 50vh;
    background-repeat: no-repeat;
  }

  .product-media-info {
    background-color: var(--clr-neutral);
    border-radius: 1rem;
    display: grid;
  }

  .product-info {
    justify-self: start;
  }

  .product-video {
    height: 250px;
  }

  .product-img {
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
