.heading {
    display: inline-block;
    position: relative;
    padding: 0.15em;
    color: var(--clr-black-accent);
    font-size: 1.5rem;
    font-weight: 1000;
    /* border: 7px solid var(--clr-primary-200);
    border-radius: 60px; */
}

.timer {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--clr-cta);
}

.dealTimer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.dealTimer * {
    flex-basis: 50%;
    text-align: center;
}

.dealTimer:last-child {
    font-size: 5rem;
    color: red;
}