.signInWrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.signInFormContainer {
  padding: 2rem;
  background-color: var(--clr-neutral);
  border-radius: 1rem;
  width: min(450px, 80vw);
}

.signInBtn,
.testLoginBtn {
  background-color: transparent;
  background-image: var(--clr-linear-gradient);
  width: 100%;
  padding: 0.5em;
  border-radius: 0.5em;
  color: var(--clr-text-neutral);
  border: none;
  cursor: pointer;
}

.testLoginBtn {
  margin-block: 1rem;
}
