.payment-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.payment-logo {
  max-width: 15rem;
}

.disclaimer {
  font-weight: 500;
  color: royalblue;
}
