.main-heading {
  text-align: center;
}

.order-container {
  background-color: var(--clr-neutral);
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.order-status {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1.8px solid #0083fd;
  border-bottom-left-radius: 0.5rem;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  justify-items: center;
  border-bottom: 1px dashed #878787;
}

.product-info {
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
}

.product-image {
  width: 6.25rem;
}

.order-delivery-address-container {
  padding-block: 0.5rem;
  border-bottom: 2px solid #878787;
}

.price-details-row {
  display: flex;
  justify-content: space-between;
  padding-inline: 2rem;
}

.price-details-row:nth-child(3) {
  border-block: 1px solid #878787;
}
