#payment-form {
  font-family: inherit;
  width: max(280px, 45vw);
  align-self: center;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1), 0px 2px 5px 0px rgba(50, 50, 93, 0.1),
    0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.payment-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.test-card-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  background-color: var(--clr-neutral);
  border-radius: 0.5rem;
  padding: 0.25rem;
}

.clipboard {
  border: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
}

.pay-button {
  background-color: royalblue;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  padding-inline: 2rem;
  width: 100%;
  color: var(--clr-text-neutral);
}
