.main-heading {
  text-align: center;
}

.orders-wrapper {
  margin: 1rem;
}

.order-container {
  background-color: var(--clr-neutral);
  padding: 1rem;
  border-radius: 0.5rem;
}

.order-status {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.order-date {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1.8px solid #0083fd;
  border-bottom-left-radius: 0.5rem;
}

.product-image {
  width: 6.25rem;
}

.order-item {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.order-item + .order-item {
  border-top: 1px dashed #878787;
  padding-block: 0.5rem;
}

.order-link-wrapper + .order-link-wrapper {
  display: block;
  margin-top: 1rem;
}

.empty-page-wrapper {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
}

.empty-wishlist-img {
  max-width: 80%;
  max-height: 50vh;
  margin: auto;
  display: block;
}

.visit-shop-link {
  color: var(--clr-cta);
  text-decoration: underline;
}
