:root {
  --header-bg: #404040;
}

.nav {
  position: sticky;
  z-index: var(--z-nav);
  top: 0;
  display: flex;
  min-height: var(--nav-height);
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  color: var(--clr-text-neutral);
  background-image: var(--clr-linear-gradient);
  flex-wrap: wrap;
  gap: 1rem;
}

.nav-menu {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav input[type='search'] {
  min-width: 250px;
}

.header {
  background-color: var(--header-bg);
  color: #ffffff;
  font-size: 0.75rem;
  word-spacing: 2px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  text-align: center;
}

.search-wrapper {
  background: rgba(255, 255, 255, 0.5);
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 18rem;
  display: flex;
}

@media screen and (max-width: 710px) {
  .nav {
    justify-content: center;
  }
}

.search-input,
.search-submit-button {
  background: none;
  border: none;
  outline: none;
  color: var(--clr-neutral);
}

.search-input {
  max-width: 100px;
}

.search-input::placeholder {
  color: var(--clr-black);
}

.search-submit-button {
  cursor: pointer;
}

.search-wrapper.active {
  outline: var(--clr-neutral) solid 1.75px;
}

.drop-down-menu {
  display: none;
  padding-top: 0.5rem;
}

.drop-down-menu-item:hover {
  opacity: 0.5;
  cursor: pointer;
}

.sign-in-component {
  position: relative;
}

.user-wrapper {
  display: flex;
  align-items: flex-end;
}

.arrow-down {
  animation: 0.3s linear arrowDown;
}

@keyframes arrowDown {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.arrow-up {
  animation: 0.3s linear arrowUp;
}

@keyframes arrowUp {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-90deg);
  }
}

.username {
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid var(--clr-cta);
  cursor: pointer;
  display: flex;
  gap: 0.25rem;
  align-items: center;
  padding: 0.25rem;
  border-radius: 0.125rem;
}

.logout-button {
  background: none;
  border: none;
  cursor: pointer;
  border-bottom: 3px solid var(--clr-cta);
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: flex-start;
}
